# Virtual environment
venv
venv/
.venv

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
env

# IDE specific files
.vscode/
.idea/

# Output directory
output/

# Log files
*.log

# Test cache
.pytest_cache/
.coverage

# AI
chroma_db
.gradio
