anyio==4.8.0
docstring_parser==0.16
fastapi[all]
gunicorn
huggingface-hub==0.23.3
langchain-core #==0.3.37
langchain-ollama==0.2.3
langgraph==0.2.74
langgraph-checkpoint==2.0.16
langgraph-sdk==0.1.53
langsmith #==0.3.9
langchain_chroma
langchain_community
ollama #==0.4.7
pydantic #==2.10.6
pypdf
uvicorn==0.34.0
tree-sitter
tree-sitter-python
anthropic
langchain-anthropic
tiktoken